{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<style>

/*Estilização do messages (alertas de ações)*/
    ul.messages{
        padding: 0;
    }

    ul.messages li{
        list-style: none;
    }

/*Estilização da paginação*/
.pagination{
    margin-bottom: 20px;
}

.step-links{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current{
    margin-left: 5px;
    margin-right: 5px;
}


/*filtro*/
.filter-div{
    margin-bottom: 15px;
    padding: 0;
}

#filter{
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}

div.ajusteFiltro{
    margin-top: 25px;
    text-align: center;
}

/*dashboard*/
.dashboard{
    padding: 0;
    width: 100%;
    display: block;
}

.dashboard h4{
    font-size: 20px;
}

.dashboard span{
    font-size: 40px;
    display: block;
    width: 100%;
}

.dashboard-box{
    float: left;
    background-color: #DFDFDF;
    color: #FFF;
    padding: 20px;
    box-sizing: border-box;
    height: 130px;
    width: 32%;
    text-align: center;
}

.dashboard-box:nth-child(2){
    margin-left: 1.5%;
    margin-right: 1.5%;
}

#dashboard-lastdays{
    background-color: #3476e2;
}

#dashboard-done{
    background-color: #13c43f
}

#dashboard-doing{
    background-color:#db1e47
}

#dashboard-done2{
    background-color: #13c43f
}

.add-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
    width: 50px;
}

.fas.fa-plus{
    color: #FFF;
    margin-right: 10px;
    margin-left: 5px;
}

/*search*/
.fas.fa-search{
    position: absolute;
    top: 12px;
    right: 26px;
}

.search-div{
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

/*
.ajustePesquisar{
    width: 50%;
    margin-left: 188px;
}*/


div.botao{
    text-align: center;
}

</style>



<br>
<br>

<div class="container titulo" >
    <h5 class="text-uppercase font-weight-light text-monospace">Solicite um item</h5>
</div>

<br>
<br>
            <div class="container" >
             
                <a href="newtask/" >
                    
                       <!-- <i class="fas fa-plus" aria-hidden="true"></i> Solicitar-->
                        <button type="button" class="btn btn-primary botao text-uppercase font-weight-light text-monospace">Solicitar</button>
                    
                </a>
                <br>
                <br>
                <br>
                <br>
            </div>

       
            <div class="col-12 container ajustePesquisar" >
                <input class="form-control container" id="myInput" type="text" placeholder="Pesquisar por itens..." >
                <!--<i class="fas fa-search" ></i>-->
             </div>
        
             <br>
        
                
        <!--
        <div class="ajusteFiltro" >
            <div class="col-12 filter-div" >
                <span>Filtrar por:</span>
                <select name="filter" id="filter" class="form-control">
                    <option value="" >Escolha uma opção</option>
                    <option value="Comprado" >Comprado</option>
                    <option value="Aguardando Orçamento" >Aguardando Orçamento</option>
                    <option value="Recebido" >Recebido</option>
                </select>
            </div>
         </div>-->
        
        
    </div>

    <br>
    <br>
    <div class="container" >
        <h5 class="text-uppercase font-weight-light text-monospace">Lista de itens solicitados</h5>
    </div>
    <br>
    <br>
    <br>
 
    <div class="container" >
    <div class="tabela">
        <table class="table">
            <thead>
            <tr> 
                <th style="text-align: center;" >Data</th>
                <th style="text-align: center;" >Nome</th>
                <th style="text-align: center;" >Quantidade</th>
                <th style="text-align: center;" >Observação</th>
                <th style="text-align: center;" >Orçamento01</th>
                <th style="text-align: center;" >Orçamento02</th>
                <th style="text-align: center;" >Orçamento03</th>
                <th style="text-align: center;" >Status</th>
                <th style="text-align: center;" >Ações</th>
                <th></th>
                <th></th>
                
            </tr>
            </thead>

            {% if messages %}
            <!--Messagens de alerta de interação ao editar e excluir item-->
                <ul class="messages" >
                    {% for message in messages %}
                        <li {% if message.tags  %}class="alert alert-{{message.tags}}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>

            {% endif %}

            <tbody id="myTable" class="alinhar">
     
            {% for task in tasks %}

            <tr>
                <td style="text-align: center;" >{{task.created_at}}</td>
                <td style="text-align: center;" >{{task.nomeItem}}</td>
                <td style="text-align: center;" >{{task.quantidade}}</td>
                <td style="text-align: center;" >{{task.observação}}</td>
                <td style="text-align: center;" ><a href="{{task.orçamento01}}" >Clique aqui</a></td>
                <td style="text-align: center;" ><a href="{{task.orçamento02}}" >Clique aqui</a></td>
                <td style="text-align: center;" ><a href="{{task.orçamento03}}" >Clique aqui</a></td>

                
                
                <td style="text-align: center;" >{{task.status}}</a></td>
                <!--<td><a href="/task/{{task.id}}" >{{task.status}}</a></td>-->
        
                <td> 
                    <a href="edit/{{task.id}}" ><button type="button" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></button></a>
                </td>
                <td>
                    <a href="delete/{{task.id}}" class="delete-btn" ><button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
                </td>

            </tr>

            {% endfor %}
<!--
            <tr>
                <td>26/11/2021</td>
                <td>Celular Samsung A01</td>
                <td>Celular Samsung</td>
                <td>20</td>
                <td>Comprado</td>
                <td> 
                    <button type="button" class="btn btn-primary" onclick="editar()">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="excluir()">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>

            <tr>
                <td>26/11/2021</td>
                <td>Monitor dell</td>
                <td>Celular Samsung</td>
                <td>15</td>
                <td>Recebido</td>
                <td> 
                    <button type="button" class="btn btn-primary" onclick="editar()">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="excluir()">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
           
           -->
            </tbody>
        </table>

        
        <div class="pagination" >
            <span class="step-links" >
                <!--Lógica para página anterior-->
                {% if tasks.has_previous %}
                    <a href="?page={{ tasks.previous_page_number }}" ><i class="fas fa-arrow-left" ></i></a>
                {% endif %}

                <!--Span mostrando a página atual do usuário-->
                <span class="current" >
                    {{ tasks.number }} de {{ tasks.paginator.num_pages }}
                </span>

                <!--Lógica para página posterior-->
                {% if tasks.has_next %}
                    <a href="?page={{ tasks.next_page_number }}" ><i class="fas fa-arrow-right" ></i></a>
                {% endif %}
            </span>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        </div>
    </div>

        <script>
            $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            });
        </script>
    

{% endblock %}
